<?xml version="1.0"?>
<config>
    <modules>
        <Zitec_TableRates>
            <version>0.1.0</version>
        </Zitec_TableRates>
    </modules>
    <global>
        <models>
            <zitec_tablerates>
                <class>Zitec_TableRates_Model</class>
                <resourceModel>zitec_tablerates_mysql4</resourceModel>
            </zitec_tablerates>
            <zitec_tablerates_mysql4>
                <class>Zitec_TableRates_Model_Mysql4</class>
            </zitec_tablerates_mysql4>
        </models>
        <resources>
            <zitec_tablerates_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zitec_tablerates_write>
            <zitec_tablerates_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zitec_tablerates_read>
        </resources>
        <blocks>
            <zitec_tablerates>
                <class>Zitec_TableRates_Block</class>
            </zitec_tablerates>
        </blocks>
        <helpers>
            <zitec_tablerates>
                <class>Zitec_TableRates_Helper</class>
            </zitec_tablerates>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Zitec_TableRates>
                    <files>
                        <default>Zitec_TableRates.csv</default>
                    </files>
                </Zitec_TableRates>
            </modules>
        </translate>

        <layout>
            <updates>
                <zitec_tablerates>
                    <file>zitec_tablerates.xml</file>
                </zitec_tablerates>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <zitec_tablerates>
                    <file>zitec_tablerates.xml</file>
                </zitec_tablerates>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zitec_TableRates>
                    <files>
                        <default>Zitec_TableRates_frontend.csv</default>
                    </files>
                </Zitec_TableRates>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <zitec_tablerates>
                <use>admin</use>
                <args>
                    <module>Zitec_TableRates</module>
                    <frontName>zitec_tablerates</frontName>
                </args>
            </zitec_tablerates>
        </routers>
    </admin>
    <frontend>
        <routers>
            <zitec_tablerates>
                <use>standard</use>
                <args>
                    <module>Zitec_TableRates</module>
                    <frontName>zitec_tablerates</frontName>
                </args>
            </zitec_tablerates>
        </routers>
    </frontend>

</config>