<?xml version="1.0"?>
<config>
    <modules>
        <Zitec_PackedShipment>
            <version>1.0.0</version>
        </Zitec_PackedShipment>
    </modules>
    <global>
        <models>
            <zitec_packedshipment>
                <class>Zitec_PackedShipment_Model</class>
            </zitec_packedshipment>
        </models>
        <blocks>
            <zitec_packedshipment>
                <class>Zitec_PackedShipment_Block</class>
            </zitec_packedshipment>
        </blocks>
        <helpers>
            <zitec_packedshipment>
                <class>Zitec_PackedShipment_Helper</class>
            </zitec_packedshipment>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Zitec_PackedShipment>
                    <files>
                        <default>Zitec_PackedShipment.csv</default>
                    </files>
                </Zitec_PackedShipment>
            </modules>
        </translate>
        <layout>
            <updates>
                <zitec_packedshipment>
                    <file>zitec_packedshipment.xml</file>
                </zitec_packedshipment>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <zitec_packedshipment>
                <use>admin</use>
                <args>
                    <module>Zitec_PackedShipment</module>
                    <frontName>zitec_packedshipment</frontName>
                </args>
            </zitec_packedshipment>
        </routers>
    </admin>

    <default>
        <zitec_packedshipment>
            <useDescriptionsInsteadOfReferences>1</useDescriptionsInsteadOfReferences>
        </zitec_packedshipment>
    </default>
</config>
