<?xml version="1.0"?>
<config>
    <modules>
        <Zitec_Dpd>
            <version>1.0.6</version>
        </Zitec_Dpd>
    </modules>
    <global>
        <models>
            <zitec_dpd>
                <class>Zitec_Dpd_Model</class>
                <resourceModel>zitec_dpd_mysql4</resourceModel>
            </zitec_dpd>
            <zitec_dpd_mysql4>
                <class>Zitec_Dpd_Model_Mysql4</class>
                <entities>
                    <zitec_dpd_ship>
                        <table>zitec_dpd_ships</table>
                    </zitec_dpd_ship>
                    <carrier_tablerate>
                        <table>zitec_dpd_tablerate</table>
                    </carrier_tablerate>
                    <zitec_dpd_pickup_order>
                        <table>zitec_dpd_pickup_order</table>
                    </zitec_dpd_pickup_order>
                    <zitec_dpd_manifest>
                        <table>zitec_dpd_manifest</table>
                    </zitec_dpd_manifest>
                </entities>
            </zitec_dpd_mysql4>
            <sales>
                <rewrite>
                    <order_creditmemo_total_tax>Zitec_Dpd_Model_Sales_Order_Creditmemo_Total_Tax</order_creditmemo_total_tax>
                    <order_invoice_total_tax>Zitec_Dpd_Model_Sales_Order_Invoice_Total_Tax</order_invoice_total_tax>
                </rewrite>
            </sales>
        </models>
        <resources>
            <zitec_dpd_setup>
                <setup>
                    <module>Zitec_Dpd</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zitec_dpd_setup>
            <zitec_dpd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zitec_dpd_write>
            <zitec_dpd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zitec_dpd_read>
        </resources>
        <blocks>
            <zitec_dpd>
                <class>Zitec_Dpd_Block</class>
            </zitec_dpd>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view_tracking>Zitec_Dpd_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                    <!-- <sales_order_shipment_view>Zitec_Dpd_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>  -->
                    <sales_shipment_grid>Zitec_Dpd_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <zitec_dpd>
                <class>Zitec_Dpd_Helper</class>
            </zitec_dpd>
        </helpers>
        <resources>
            <zitec_dpd_setup>
                <setup>
                    <module>Zitec_Dpd</module>
                </setup>
            </zitec_dpd_setup>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <zitec_dpd>
                        <type>singleton</type>
                        <class>zitec_dpd/observer_shipment</class>
                        <method>adminAddPostcodeAutocompleteBlock</method>
                    </zitec_dpd>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_shipment_save_before>
                <observers>
                    <zitec_dpd>
                        <type>singleton</type>
                        <class>zitec_dpd/observer_shipment</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </zitec_dpd>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <zitec_dpd>
                        <type>singleton</type>
                        <class>zitec_dpd/observer_shipment</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </zitec_dpd>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_address_save_after>
                <observers>
                    <zitec_dpd>
                        <type>singleton</type>
                        <class>zitec_dpd/observer_address</class>
                        <method>salesOrderAddressAfterSave</method>
                    </zitec_dpd>
                </observers>
            </sales_order_address_save_after>

            <core_block_abstract_prepare_layout_before>
                <observers>
                    <zitec_dpd_print_manifest>
                        <class>zitec_dpd/observer_manifest</class>
                        <method>addManifestMassAction</method>
                    </zitec_dpd_print_manifest>
                    <zitec_dpd_create_pickup>
                        <class>zitec_dpd/observer_pickup</class>
                        <method>createPickupAction</method>
                    </zitec_dpd_create_pickup>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_quote_payment_import_data_before>
                <observers>
                    <zitec_dpd_force_recolect_totals_checkout>
                        <class>zitec_dpd/observer_payment</class>
                        <method>setTotalsCollectedFlag</method>
                    </zitec_dpd_force_recolect_totals_checkout>
                </observers>
            </sales_quote_payment_import_data_before>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <zitec_dpd_force_refresh_totals_admin_order_create>
                        <class>zitec_dpd/observer_payment</class>
                        <method>refreshTotalsInAdminOrderCreate</method>
                    </zitec_dpd_force_refresh_totals_admin_order_create>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <sales_order_address_save_before>
                <observers>
                    <zitec_dpd_sales_order_address_save_before>
                        <type>singleton</type>
                        <class>zitec_dpd/observer_address</class>
                        <method>salesOrderAddressBeforeSave</method>
                    </zitec_dpd_sales_order_address_save_before>
                </observers>
            </sales_order_address_save_before>

        </events>
        <sales>
            <shipping>
                <carriers>
                    <zitec_dpd>
                        <class>Zitec_Dpd_Model_Shipping_Carrier_DPD</class>
                    </zitec_dpd>
                </carriers>
            </shipping>
            <quote>
                <totals>
                    <zitec_dpd_cashondelivery_surcharge>
                        <class>zitec_dpd/sales_quote_address_total_cashondeliverysurchage</class>
                        <after>shipping,tax_shipping</after>
                        <before>tax,grand_total</before>
                        <renderer>zitec_dpd/tax_checkout_cashondeliverysurchage</renderer>
                    </zitec_dpd_cashondelivery_surcharge>
                    <grand_total>
                        <after>zitec_dpd_cashondelivery_surcharge,tax</after>
                        <before>msrp</before>
                    </grand_total>
                    <tax>
                        <before>grand_total</before>
                        <after>zitec_dpd_cashondelivery_surcharge</after>
                    </tax>
                    <msrp>
                        <after>grand_total</after>
                    </msrp>
                </totals>

            </quote>
            <order_invoice>
                <totals>
                    <zitec_dpd_cashondelivery_surcharge>
                        <class>zitec_dpd/sales_order_invoice_total_cashondeliverysurchage</class>
                        <after>shipping</after>
                        <before>tax,grand_total</before>
                    </zitec_dpd_cashondelivery_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <zitec_dpd_cashondelivery_surcharge>
                        <class>zitec_dpd/sales_order_creditmemo_total_cashondeliverysurchage</class>
                        <after>shipping</after>
                        <before>tax,grand_total</before>
                    </zitec_dpd_cashondelivery_surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <zitec_dpd_cashondelivery_surcharge>
                    <to_order>*</to_order>
                </zitec_dpd_cashondelivery_surcharge>
                <base_zitec_dpd_cashondelivery_surcharge>
                    <to_order>*</to_order>
                </base_zitec_dpd_cashondelivery_surcharge>
                <zitec_dpd_cashondelivery_surcharge_tax>
                    <to_order>*</to_order>
                </zitec_dpd_cashondelivery_surcharge_tax>
                <base_zitec_dpd_cashondelivery_surcharge_tax>
                    <to_order>*</to_order>
                </base_zitec_dpd_cashondelivery_surcharge_tax>
                <valid_auto_postcode>
                    <to_order_address>*</to_order_address>
                </valid_auto_postcode>
                <auto_postcode>
                    <to_order_address>*</to_order_address>
                </auto_postcode>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <zitec_dpd_cashondelivery_surcharge translate="title">
                    <title>Recargo contrareembolso</title>
                    <model>zitec_dpd/sales_order_pdf_total_cashondeliverysurchage</model>
                    <source_field>zitec_dpd_cashondelivery_surcharge</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>410</sort_order>
                </zitec_dpd_cashondelivery_surcharge>
            </totals>
        </pdf>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Zitec_Dpd>
                    <files>
                        <default>Zitec_Dpd.csv</default>
                    </files>
                </Zitec_Dpd>
            </modules>
        </translate>

        <layout>
            <updates>
                <zitec_dpd>
                    <file>zitec_dpd.xml</file>
                </zitec_dpd>
            </updates>
        </layout>

    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <zitec_dpd>
                    <file>zitec_dpd.xml</file>
                </zitec_dpd>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zitec_Dpd>
                    <files>
                        <default>Zitec_Dpd_frontend.csv</default>
                    </files>
                </Zitec_Dpd>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <zitec_dpd>
                <use>admin</use>
                <args>
                    <module>Zitec_Dpd</module>
                    <frontName>zitec_dpd</frontName>
                </args>
            </zitec_dpd>
        </routers>
    </admin>
    <frontend>
        <routers>
            <zitec_dpd>
                <use>standard</use>
                <args>
                    <module>Zitec_Dpd</module>
                    <frontName>zitec_dpd</frontName>
                </args>
            </zitec_dpd>
        </routers>
    </frontend>

    <default>
        <carriers>
            <zitecDpd>
                <postcode_autocomplete_checkout>1</postcode_autocomplete_checkout>
                <connectionTimeout>10</connectionTimeout>
                <model>zitec_dpd/shipping_carrier_dpd</model>
                <countryurls>
                    <CZ>
                        <production>https://it4em.dpd.cz/IT4EMWebServices/eshop/</production>
                        <test>http://it4emtest.dpd.cz:7777/IT4EMWebServices/eshop/</test>
                    </CZ>
                    <SK>
                        <production>https://it4em.dpd.sk/IT4EMWebServices/eshop/</production>
                        <test></test>
                    </SK>
                    <RO>
                        <production>https://it4em.dpd.ro/IT4EMWebServices/eshop/</production>
                        <test></test>
                    </RO>
                    <SI>
                        <production>https://it4em.dpd.si/IT4EMWebServices/eshop/</production>
                        <test></test>
                    </SI>
                    <HR>
                        <production>https://it4em.dpd.hr/IT4EMWebServices/eshop/</production>
                        <test></test>
                    </HR>
                    <LT>
                        <production>https://integration.dpd.lt:8443/IT4EMWebServices/eshop/</production>
                        <test>https://integrationtest.dpd.lt:8183/IT4EMWebServices/eshop/</test>
                    </LT>
                    <LV>
                        <production>https://integration.dpd.lv:8443/IT4EMWebServices/eshop/</production>
                        <test>https://integrationtest.dpd.lv:8183/IT4EMWebServices/eshop/</test>
                    </LV>
                    <EE>
                        <production>https://integration.dpd.ee:8443/IT4EMWebServices/eshop/</production>
                        <test>https://integrationtest.dpd.ee:8183/IT4EMWebServices/eshop/</test>
                    </EE>
                </countryurls>
                <shipmentUrlPart>ShipmentServiceImpl?wsdl</shipmentUrlPart>
                <manifestUrlPart>ManifestServiceImpl?wsdl</manifestUrlPart>
                <pickupUrlPart>PickupOrderServiceImpl?wsdl</pickupUrlPart>
                <zitec_tablerates>
                    <grid_title>DPD Table Rates</grid_title>
                    <tablerates_db_table>zitec_dpd/carrier_tablerate</tablerates_db_table>
                    <features>
                        <markup_type>1</markup_type>
                        <price_vs_dest>1</price_vs_dest>
                        <cash_on_delivery>1</cash_on_delivery>
                        <cod_min_surcharge>1</cod_min_surcharge>
                    </features>
                    <db_table_field_names>
                        <weight_price>weight</weight_price>
                    </db_table_field_names>
                    <method_source>zitec_dpd/config_source_service</method_source>
                    <export_action>zitec_dpd/adminhtml_config/exportTablerates</export_action>
                    <import>
                        <resource_class>zitec_dpd/carrier_tablerate</resource_class>
                        <method>uploadAndImport</method>
                    </import>
                </zitec_tablerates>
            </zitecDpd>
        </carriers>
        <payment>
            <zitec_dpd_cashondelivery>
                <active>1</active>
                <title>Cash On Delivery</title>
                <total_title>Cash On Delivery Surcharge</total_title>
                <order_status>zitec_dpd_pending_cashondelivery</order_status>
                <model>zitec_dpd/payment_cashondelivery</model>
                <services>1,9,10,27,109,40033,40107</services>
                <specificproducto>1,9,10,27,109,40033,40107</specificproducto>
                <cod_payment_type>Cash</cod_payment_type>
                <payment_amount_type>1</payment_amount_type>
                <payment_amount>0</payment_amount>
            </zitec_dpd_cashondelivery>
        </payment>
        <sales>
            <totals_sort>
                <zitec_dpd_cashondelivery_surcharge>35</zitec_dpd_cashondelivery_surcharge>
            </totals_sort>
        </sales>
        <zitec_fieldlengths>
            <checkout_onepage_index>
                <street_address>
                    <idStartsWith>shipping:street</idStartsWith>
                    <maxLength>70</maxLength>
                </street_address>
            </checkout_onepage_index>
        </zitec_fieldlengths>

    </default>

</config>