<?xml version="1.0"?>
<config>
    <modules>
        <Zitec_ShippingReports>
            <version>1.0.0</version>
        </Zitec_ShippingReports>
    </modules>
    <admin>
        <routers>
            <zitec_shippingreports>
                <use>admin</use>
                <args>
                    <module>Zitec_ShippingReports</module>
                    <frontName>zitec_shippingreports</frontName>
                </args>
            </zitec_shippingreports>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <zitec_shippingreports>
                    <file>zitec_shippingreports.xml</file>
                </zitec_shippingreports>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <zitec_shippingreports>
                <class>Zitec_ShippingReports_Model</class>
                <resourceModel>zitec_shippingreports_mysql4</resourceModel>
            </zitec_shippingreports>
            <zitec_shippingreports_mysql4>
                <class>Zitec_ShippingReports_Model_Mysql4</class>
            </zitec_shippingreports_mysql4>
        </models>
        <blocks>
            <zitec_shippingreports>
                <class>Zitec_ShippingReports_Block</class>
            </zitec_shippingreports>
        </blocks>
        <helpers>
            <zitec_shippingreports>
                <class>Zitec_ShippingReports_Helper</class>
            </zitec_shippingreports>
        </helpers>
        <resources>
            <zitec_shippingreports_setup>
                <setup>
                    <module>Zitec_ShippingReports</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zitec_shippingreports_setup>
        </resources>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <zitec_shippingreports_shipment_before_save>
                        <class>zitec_shippingreports/observer_shipment</class>
                        <method>beforeSave</method>
                    </zitec_shippingreports_shipment_before_save>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_save_before>
                <observers>
                    <zitec_shippingreports_order_before_save>
                        <class>zitec_shippingreports/observer_order</class>
                        <method>beforeSave</method>
                    </zitec_shippingreports_order_before_save>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
</config>
    
