<?xml version="1.0"?>
<config>
    <modules>
        <Zitec_PrintShippingLabel>
            <version>1.0.0</version>
        </Zitec_PrintShippingLabel>
    </modules>
    <global>
        <helpers>
            <zitec_printshippinglabel>
                <class>Zitec_PrintShippingLabel_Helper</class>
            </zitec_printshippinglabel>
        </helpers>
        <models>
            <zitec_printshippinglabel>
                <class>Zitec_PrintShippingLabel_Model</class>
            </zitec_printshippinglabel>
        </models>
        <blocks>
            <zitec_printshippinglabel>
                <class>Zitec_PrintShippingLabel_Block</class>
            </zitec_printshippinglabel>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Zitec_PrintShippingLabel_Block_Adminhtml_Sales_View</sales_order_view>
                    <sales_order_shipment_view>Zitec_PrintShippingLabel_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>

    </global>
    <frontend>
        <translate>
            <modules>
                <Zitec_PrintShippingLabel>
                    <files>
                        <default>Zitec_PrintShippingLabel_frontend.csv</default>
                    </files>
                </Zitec_PrintShippingLabel>
            </modules>
        </translate>
        <layout>
            <updates>
                <zitec_printshippinglabel>
                    <file>zitec_printshippinglabel.xml</file>
                </zitec_printshippinglabel>
            </updates>
        </layout>
    </frontend>


    <adminhtml>
        <layout>
            <updates>
                <zitec_printshippinglabel>
                    <file>zitec_printshippinglabel.xml</file>
                </zitec_printshippinglabel>
            </updates>
        </layout>
        <translate>
            <modules>
                <zitec_printshippinglabel>
                    <files>
                        <default>Zitec_PrintShippingLabel.csv</default>
                    </files>
                </zitec_printshippinglabel>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <zitec_printshippinglabel>
                <use>admin</use>
                <args>
                    <module>Zitec_PrintShippingLabel</module>
                    <frontName>zitec_printshippinglabel</frontName>
                </args>
            </zitec_printshippinglabel>
        </routers>
    </admin>
    <default>
        <zitec_printshippinglabel>
            <general>

            </general>
        </zitec_printshippinglabel>
    </default>

</config>
